<?xml version="1.0" encoding="UTF-8"?>
<package xmlns="http://pear.php.net/dtd/package-2.1" xmlns:tasks="http://pear.php.net/dtd/tasks-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.1" xsi:schemaLocation="http://pear.php.net/dtd/tasks-1.0 http://pear.php.net/dtd/tasks-1.0.xsd http://pear.php.net/dtd/package-2.1 http://pear.php.net/dtd/package-2.1.xsd">
    <name>pake</name>
    <channel>pear.indeyets.pp.ru</channel>
    <summary>PHP automation tool with capabilities similar to make.</summary>
    <description>
        Pake is a command line utility for executing predefined tasks, inspired by make. It is written in PHP and the tasks are also described in PHP. 
        Pake supports tasks with prerequisites. Pake can be bundled with your application as a single phar archive (or even as a single PHP file), end users don’t need to install Pake on their systems. 
        Pake can be used for compiling projects from different pieces, generating code, preprocessing templates and deploying projects.
    </description>
    <lead>
        <name>Alexey Zakhlestin</name>
        <user>indeyets</user>
        <email>indeyets@php.net</email>
        <active>yes</active>
    </lead>
    <lead>
        <name>Fabien POTENCIER</name>
        <user>fabpot</user>
        <email>fabien.potencier@symfony-project.com</email>
        <active>no</active>
    </lead>

    <date>##CURRENT_DATE##</date>
    <version>
        <release>##PAKE_VERSION##</release>
        <api>1.6.0</api>
    </version>
    <stability>
        <release>stable</release>
        <api>stable</api>
    </stability>
    <license uri="http://www.milkfarmsoft.com/bsd.php">BSD license</license>
    <notes>
        - fixed PEAR-package format. should be installable via PEAR2/Pyrus now
        - pakeMySQL fixes (#6, #7)
        - fixed typo in pake_superuser_sh (#8)
        - pakePearTask properly detects verbosity setting
    </notes>

    <contents>
        <dir name="/">
            <file role="script" baseinstalldir="/" name="bin/pake.sh">
                <tasks:replace type="pear-config" from="@PHP-BIN@" to="php_bin"/>
                <tasks:replace type="pear-config" from="@BIN-DIR@" to="bin_dir"/>
                <tasks:replace type="pear-config" from="@PEAR-DIR@" to="php_dir"/>
            </file>
            <file role="script" baseinstalldir="/" name="bin/pake.bat">
                <tasks:replace type="pear-config" from="@PHP-BIN@" to="php_bin"/>
                <tasks:replace type="pear-config" from="@BIN-DIR@" to="bin_dir"/>
                <tasks:replace type="pear-config" from="@PEAR-DIR@" to="php_dir"/>
            </file>
            <file role="php" baseinstalldir="/" name="bin/pake.php"/>

            <dir name="lib">
                <dir name="pake">
                    <file role="php" name="pakeApp.class.php">
                        <tasks:replace type="package-info" from="1.0.DEV" to="version"/>
                    </file>
                    ##CLASS_FILES##
                    <dir name="tasks">
                        ##TASK_FILES##
                    </dir>

                    <dir name="sfYaml">
                        <file role="php" name="sfYaml.php"/>
                        <file role="php" name="sfYamlDumper.php"/>
                        <file role="php" name="sfYamlInline.php"/>
                        <file role="php" name="sfYamlParser.php"/>
                    </dir>
                </dir>
            </dir>

            <file role="doc" baseinstalldir="pake" name="LICENSE"/>
        </dir>
    </contents>

    <dependencies>
        <required>
            <php>
                <min>5.2.1</min>
            </php>
            <pearinstaller>
                <min>1.4.1</min>
            </pearinstaller>
            <package>
                <name>YAML</name>
                <channel>pear.symfony-project.com</channel>
            </package>
            <extension>
                <name>pcre</name>
            </extension>
        </required>

        <optional>
            <package>
                <name>svn</name>
                <channel>pecl.php.net</channel>
            </package>
            <package>
                <name>yaml</name>
                <channel>pecl.php.net</channel>
            </package>
            <extension>
                <name>phar</name>
            </extension>
            <extension>
                <name>zlib</name>
            </extension>
            <extension>
                <name>bz2</name>
            </extension>
            <extension>
                <name>mbstring</name>
            </extension>
            <extension>
                <name>pcntl</name>
            </extension>
            <extension>
                <name>posix</name>
            </extension>
        </optional>
    </dependencies>

    <phprelease>
        <installconditions>
            <os>
                <name>windows</name>
            </os>
        </installconditions>
        <filelist>
            <install as="pake.bat" name="bin/pake.bat"/>
            <install as="pake.php" name="bin/pake.php"/>
            <install as="pake/pakeApp.class.php" name="lib/pake/pakeApp.class.php"/>
            <install as="pake/sfYaml/sfYaml.php" name="lib/pake/sfYaml/sfYaml.php"/>
            <install as="pake/sfYaml/sfYamlDumper.php" name="lib/pake/sfYaml/sfYamlDumper.php"/>
            <install as="pake/sfYaml/sfYamlInline.php" name="lib/pake/sfYaml/sfYamlInline.php"/>
            <install as="pake/sfYaml/sfYamlParser.php" name="lib/pake/sfYaml/sfYamlParser.php"/>
            ##RENAMES##
            <ignore name="bin/pake.sh"/>
        </filelist>
    </phprelease>

    <phprelease>
        <filelist>
            <install as="pake" name="bin/pake.sh"/>
            <install as="pake.php" name="bin/pake.php"/>
            <install as="pake/pakeApp.class.php" name="lib/pake/pakeApp.class.php"/>
            <install as="pake/sfYaml/sfYaml.php" name="lib/pake/sfYaml/sfYaml.php"/>
            <install as="pake/sfYaml/sfYamlDumper.php" name="lib/pake/sfYaml/sfYamlDumper.php"/>
            <install as="pake/sfYaml/sfYamlInline.php" name="lib/pake/sfYaml/sfYamlInline.php"/>
            <install as="pake/sfYaml/sfYamlParser.php" name="lib/pake/sfYaml/sfYamlParser.php"/>
            ##RENAMES##
            <ignore name="bin/pake.bat"/>
        </filelist>
    </phprelease>

    <changelog>
        <release>
            <date>2011-01-02</date>
            <version>
                <release>1.6.0</release>
                <api>1.6.0</api>
            </version>
            <stability>
                <release>stable</release>
                <api>stable</api>
            </stability>
            <license uri="http://www.milkfarmsoft.com/bsd.php">BSD license</license>
            <notes>
                - implemented pake_read_file() helper, which uses pakeHTTP class for http requests and file_get_contents for everything else
                - implemented support for curl-compatible http_proxy, https_proxy and HTTPS_PROXY env variables in pakeHTTP class
                - using utf8-friendly pake_sprintf instead of usual sprintf. fixes some formatting issues
            </notes>
        </release>
        <release>
            <date>2010-12-21</date>
            <version>
                <release>1.5.1</release>
                <api>1.5.1</api>
            </version>
            <stability>
                <release>stable</release>
                <api>stable</api>
            </stability>
            <license uri="http://www.milkfarmsoft.com/bsd.php">BSD license</license>
            <notes>
                 - in install_pear_package: update channel + upgrade package by default (can be disabled)
                 - git does not respect --work-tree in some commands. adding workaround
                 - support for optional explicit remote/branch parameters in pakeGit::pull()
             </notes>
        </release>
        <release>
            <date>2010-12-17</date>
            <version>
                <release>1.5.0</release>
                <api>1.5.0</api>
            </version>
            <stability>
                <release>stable</release>
                <api>stable</api>
            </stability>
            <license uri="http://www.milkfarmsoft.com/bsd.php">BSD license</license>
            <notes>
                - PEAR helper: new methods: install_from_file(), isInstalled()
                - pakeYaml::loadFile() can handle arbitrary URLs supported by PHP now
                - pakeYaml will throw exception on empty documents now
                - new helper: pake_write_file($name, $contents, $overwrite = false)
                - new helper: pakeMySQL (supports creation and dropping of databases. more in next versions)
            </notes>
        </release>
        <release>
            <date>2010-12-10</date>
            <version>
                <release>1.4.5</release>
                <api>1.4.5</api>
            </version>
            <stability>
                <release>stable</release>
                <api>stable</api>
            </stability>
            <license uri="http://www.milkfarmsoft.com/bsd.php">BSD license</license>
            <notes>
                - include PEAR/Command.php using proper case
            </notes>
        </release>
        <release>
            <date>2010-12-10</date>
            <version>
                <release>1.4.4</release>
                <api>1.4.4</api>
            </version>
            <stability>
                <release>stable</release>
                <api>stable</api>
            </stability>
            <license uri="http://www.milkfarmsoft.com/bsd.php">BSD license</license>
            <notes>
                - pakeHTTP helper (get(), post(), matchGet(), matchPost() methods)
                - added --full-width option, which disables excerpts generation
                - several typos fixed (PEAR task, exception-tracer)
            </notes>
        </release>
        <release>
            <date>2010-06-29</date>
            <version>
                <release>1.4.3</release>
                <api>1.4.3</api>
            </version>
            <stability>
                <release>stable</release>
                <api>stable</api>
            </stability>
            <license uri="http://www.milkfarmsoft.com/bsd.php">BSD license</license>
            <notes>
                - updated sfYaml from upstream (better handling of UTF-8 and support of explicit document end marker)
            </notes>
        </release>
        <release>
            <date>2010-06-18</date>
            <version>
                <release>1.4.2</release>
                <api>1.4.2</api>
            </version>
            <stability>
                <release>stable</release>
                <api>stable</api>
            </stability>
            <license uri="http://www.milkfarmsoft.com/bsd.php">BSD license</license>
            <notes>
                - tweaks for pake_copy and pake_rename
                - fix for handling plugin-tasks on case-sensitive filesystems
            </notes>
        </release>
        <release>
            <date>2010-05-05</date>
            <version>
                <release>1.4.1</release>
                <api>1.4.1</api>
            </version>
            <stability>
                <release>stable</release>
                <api>stable</api>
            </stability>
            <license uri="http://www.milkfarmsoft.com/bsd.php">BSD license</license>
            <notes>
                - fix "pake compact". for real, this time
                - added pake_remove_dir() function
                - added PakeApp::getPakeFile() method
                - plugin (tasks) for building PHP extensions (UNIX-only)
                - updated sfYaml library
                - pakeYaml tries to use the most verbose yaml-syntax
                - added pake_require_version() function
            </notes>
        </release>
        <release>
            <date>2010-03-18</date>
            <version>
                <release>1.4.0</release>
                <api>1.4.0</api>
            </version>
            <stability>
                <release>stable</release>
                <api>stable</api>
            </stability>
            <license uri="http://www.milkfarmsoft.com/bsd.php">BSD license</license>
            <notes>
                - added "interactive mode" (pake -i)
                - new helper: pakeMercurial
                - updated sfYaml library
                - use copy+unlink instead of rename in pake_rename() to workaround problem of moving files between volumes
                - "pake compact" (developers-only) command works again
                - added explicit pakePearTask::package_pear_package($file, $target) method
                - fixed output-formatting (long texts in exceptions, etc.)
                - various packaging fixes
            </notes>
        </release>
        <release>
            <date>2009-12-22</date>
            <version>
                <release>1.3.1</release>
                <api>1.3.0</api>
            </version>
            <stability>
                <release>stable</release>
                <api>stable</api>
            </stability>
            <license uri="http://www.milkfarmsoft.com/bsd.php">BSD license</license>
            <notes>
                - pake_superuser_sh() fixes
                - consistent action-messages
                - support for channel-discovery during pear-package installation
                - support of remote files in pake_copy
                - use sfYaml and pecl/yaml instead of Spyc and pecl/syck
                - reacher pakeYaml API (explicit string-methods and file-methods)
            </notes>
        </release>
        <release>
            <date>2009-11-23</date>
            <version>
                <release>1.3.0</release>
                <api>1.3.0</api>
            </version>
            <stability>
                <release>stable</release>
                <api>stable</api>
            </stability>
            <license uri="http://www.milkfarmsoft.com/bsd.php">BSD license</license>
            <notes>
                - Major cleanup of code
                - Added helpers for work with Subversion
                - Added helpers for work with RSync
                - Added helpers for work with Git
                - Added helpers for work with Archives (zip, tar, gzip, bzip2)
                - Added helpers for work with PHARs
                - Added helpers for work with SSH
                - Updated Spyc library to latest release
            </notes>
        </release>
    </changelog>
</package>
    